<!DOCTYPE html>
<html lang="zh-CN">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}boot/images/favicon.ico"/>
	<title>
		{% block title %} {% endblock %}
	</title>
	<link rel="stylesheet" href="/static/boot/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/boot/css/scojs.css">
	<link rel="stylesheet" type="text/css" href="/static/boot/css/sco.message.css">
	<link rel="stylesheet" type="text/css" href="/static/boot/css/jquery.dataTables.min.css">
	<script src="/static/boot/js/jquery.js"></script>
	<style type="text/css">
	body{
		padding-top: 20px;
	}
	.footer{
		width: 100%;
		padding-top: 100px;
		text-align: center;
		font-size: 15px;
		overflow: hidden;
		word-spacing: 2px;
	}
	</style>
	{% block css %} {% endblock %}
	{% block js %} {% endblock %}
</head>
<body>
	<div class="main">
		<div class="container">
			{% block body %} {% endblock %}
		</div>
		<div class="footer">
			<p>@2014 LeTV 装机系统</p>
			<script src="/static/boot/js/bootstrap.min.js"></script>
			<script src="/static/boot/js/ajax.js"></script>
			<script src="/static/boot/js/sco.modal.js"></script>
			<script src="/static/boot/js/sco.confirm.js"></script>
			<script src="/static/boot/js/sco.message.js"></script>
			<script src="/static/boot/js/jquery.dataTables.min.js"></script>
		</div>
	</div>
</body>
</html>
