<script src="/static/boot/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#all").click(function(){
				$("[name='disk_zh']").each(function(){
			if($(this).prop("checked")){     
    			$(this).prop("checked",false);     
         	}     
   			else{     
    			$(this).prop("checked",true);              
   			}        
		})
	})
})
</script>
<style type="text/css">
.modal {
	bottom: 80%;
}
</style>
<form action="/edit/{{id}}" method="POST" > {% csrf_token %}
	<table class="table table-hover">
		<tbody>
			<tr>
				<th>level</th>
				<td>{{forms.level}}</td>
			</tr>
			<tr>
				<th>管理卡IP</th>
				<td>{{forms.ilo_ip}}</td>
			</tr>
			<tr>
				<th>选择系统</th>
				<td>{{forms.kickstart}}</td>
			</tr>
			<tr>
				<th>选择条带</th>
				<td>{{ forms.stripe }}</td>
			</tr>
			<tr>
				<th>选择磁盘</th>
				<td><input type="checkbox" id="all">反选</td>
			</tr>
			{% for d in disk %}
			<tr>
				<td><label><input type="checkbox" name="disk_zh" value="{{d.sotl}}">{{d.sotl}}--{{d.size}}</label></td>
			</tr>
			{% endfor %}
		</tbody>
		<button class="btn btn-info btn-sm" type="submit">确定</button>
	</table>
</form>