{% extends 'install.html' %}
{% block cs %}
<style type="text/css">
	.fff a{
	color: #fff;
}
</style>
{% endblock %}
{% block list %}
<table class="table table-hover">
	<tr>
		<th>DHCP_IP</th>
		<th>SN</th>
		<th>详情</th>
		<th>操作</th>
		<th>状态</th>
		<th>可删除</th>
	</tr>
		{% for i in forms %}
	<tr>
		<td>{{ i.ipaddr }}</td>
		<td>{{ i.sn }}</td>
		<td><button type="button" class="btn btn-info btn-sm"  data-trigger="modal" data-title="配置信息" data-cssclass="info" href="/info/{{ i.id }}" id="{{i.id}}">详细信息</button></td>
		{% if i.status %}
		<td class="fff"><a class="btn btn-success btn-sm" role="button" href="/online/{{i.id}}">装机</a></td>
		{% else %}
		<td><button type="button" class="btn btn-danger btn-sm" disabled="disabled">禁用</button></td>
		{% endif %}
		{% if i.status %}
		<td class="fff"><a class="btn btn-primary btn-sm" role="button" href="/lock/{{i.id}}/{{i.status}}">锁定</a></td>
		{% else %}
		<td class="fff"><a class="btn btn-warning btn-sm" role="button" href="/lock/{{i.id}}/{{i.status}}">解锁</a></td>
		{% endif %}
		<td><a data-trigger="confirm" data-cssclass="del" class="btn btn-default btn-sm" href="/del/{{i.id}}">删除</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}