{% extends 'install.html' %}

{% block list %}
<table id="myTable" class="table table-hover">
	<thead>
	<tr>
		<th>品牌</th>
		<th>IP</th>
		<th>ILO_IP</th>
		<th>SN</th>
		<th>Raid级别</th>
		<th>Raid所用磁盘</th>
		<th>状态</th>
		<th>上线</th>
	</tr>
	</thead>
	<tbody>
		{% for i in forms %}
	<tr>
		<td>{{ i.inc }}</td>
		<td>{{ i.service_ip }}</td>
		<td>{{ i.ilo_ip }}</td>
		<td>{{ i.sn }}</td>
		<td>{{ i.level }}</td>
		<td>{{ i.raid_zh }}</td>
		{% if i.ssh_status %}
		<td><button class="btn btn-info btn-sm">完成</button></td>
		{% else %}
		<td><button id="{{i.id}}" class="btn btn-warning btn-sm">重启中..</button></td>
		<script type="text/javascript">
            $(document).ready(function(){
        	var progresspump = setInterval(function(){
            /* query the completion percentage from the server */
            $.get("/ping/{{ i.id }}/",function(result){
               /* update the progress bar width */
               var result= eval('('+result+')');
               $.each(result,function(index,d){
              /* console.log(data); */
               var data = d;
                /* test to see if the job has completed */
                if(data == 0 ) {
                /*    window.location.reload(); */
                    clearInterval(progresspump);
                    $("#"+{{i.id}}).text("可登陆").removeClass("btn-warning").addClass("btn-success");
                }
            })
            })
        }, 10000);});
		</script>
		{% endif %}
		<td><a data-trigger="confirm" data-cssclass="del" class="btn btn-info btn-sm" href="/delivery/{{i.id}}">交付</a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}