{% extends 'install.html' %}

{% block list %}
<style type="text/css">
	.wancheng{
		color: red;
	}
</style>
<table class="table table-hover table-bordered">
	<tr>
		<th>品牌</th>
		<th>IP</th>
		<th>ILO_IP</th>
		<th>SN</th>
		<th>Raid级别</th>
		<th>Raid所用磁盘</th>
		<th>状态</th>
		<th>上线</th>
	</tr>
		{% for i in forms %}
	<tr>
		<td>{{ i.inc }}</td>
		<td>{{ i.service_ip }}</td>
		<td>{{ i.ilo_ip }}</td>
		<td>{{ i.sn }}</td>
		<td>{{ i.level }}</td>
		<td>{{ i.raid_zh }}</td>		
		<td class="wancheng">完成</td>
		<td><a class="btn btn-info btn-sm" role="hutton" href="/delivery/{{i.id}}" style="color:#fff">交付</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}